nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-wrap: nowrap;
    font-size: 2vw;
}


a {
    color: white;
}

/* Hovering over links now has a visual indicator */
a:hover {
    color: yellow;
}   

/* Header 1's size and alignment are set here */
h1 {
    font-size: 4vw;
    text-align: center;
}

/* Header 2's size is set here */
h2 {
    font-size: 3vw;
}

/* Header 3's size is set here */
h3 {
    font-size: 2vw;
}

/* Background image is set here */
body {
    background-image: url(Images/Background.png);
    color: white;
}

/* */
div {
    text-align: center; 
    font-size: 20px;
}

/* Sets the default settings for all p elements */
p {
    text-align: left;
    font-size: 1.25vw;
    display: block;
}

span {
    margin: 2vh auto;
    justify-content: center;
    display: flex;
    text-wrap: nowrap;
    font-size: 6vw;
    font-style: italic;
    color: white;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    text-align: center;
    font-size: 12px;
}

.container {
    display: flex;
    align-items: stretch;
}

.fancyBorder {
    border: 5px solid #7c85b3;
    background-color: #49558c;
    border-radius: 5px;
    padding: 10px;
}

/* I used this class in order to make the p element and the iframe element sit next to each other */
.leftText {
    width: 40vw;
    min-width: 15vw;
}

.rightText {
    float: right;
    width: 40vw;
    min-width: 15vw;
}

/* Sets the default settings for the YouTube video found on the About Me page. */
iframe {
    width: 75%;
    max-width: 1000px;
    margin: 15px;
}

/* Sets the default settings for the image found on the Hero page. */
img {
    display: block;
    justify-self: center;
    margin: 5vw;
    max-width: 75vw !important;
    max-height: 75vh !important;
}
